<ng-container *ngIf="isPageLoaded">
  <h1 class="title">{{ 'quiz.editor.' + (isNewMode ? 'editTitle' : 'createTitle') | translate }}</h1>
  <form class="form-container" [formGroup]="form">
    <div class="inline-input">
      <h3>{{ "quiz.editor.name" | translate }}</h3>
      <mat-form-field appearance="outline">
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.get('name')?.invalid">{{ "quiz.editor.nameHint" | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="full-length">
      <mat-form-field appearance="outline">
        <mat-label>{{ "quiz.editor.description" | translate }}</mat-label>
        <textarea matInput
          formControlName="description"
          placeholder="{{ 'quiz.editor.description' | translate }}"></textarea>
      </mat-form-field>
    </div>

    <div class="settings">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'quiz.editor.settings' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="setting-block">
            <mat-slide-toggle color="primary" formControlName="randomOrder">{{ 'quiz.editor.randomOrder' | translate }}</mat-slide-toggle>
          </div>
          <div class="setting-block">
            <mat-slide-toggle color="primary" formControlName="movingBetween">{{ 'quiz.editor.movingBetween' | translate }}</mat-slide-toggle>
          </div>
          <div class="setting-block">
            <mat-slide-toggle color="primary" formControlName="showCorrect">{{ 'quiz.editor.showCorrect' | translate }}</mat-slide-toggle>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <h3>{{ 'quiz.editor.questions' | translate }}</h3>

    <div class="questions">
      <ng-container *ngFor="let question of questionsFormArray.controls; index as i">
        <mat-card class="question">
          <mat-card-content>
            <form [formGroup]="getFormGroup(question)">
              <div class="inline-input">
                <div class="centered without-padding">
                  <h3>{{ "quiz.editor.questionContent" | translate }}</h3>
                </div>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="text" />
                  <mat-error *ngIf="question.get('text')?.invalid">{{ "quiz.editor.questionContentHint" | translate }}</mat-error>
                </mat-form-field>
                <div class="centered">
                  <mat-icon class="dummy-link foreground" matTooltip="{{ 'quiz.editor.deleteQuestion' | translate }}"
                    (click)="deleteQuestion(i, question)">delete</mat-icon>
                </div>
              </div>
            </form>
          </mat-card-content>

          <div class="answers">
            <mat-accordion>
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title>{{ 'quiz.editor.answers' | translate }}</mat-panel-title>
                </mat-expansion-panel-header>

                <ng-container *ngFor="let answer of getFormArray(question.get('answers')).controls; index as j">
                  <form [formGroup]="getFormGroup(answer)">
                    <div class="inline-input">
                      <mat-form-field appearance="outline">
                        <mat-label>{{ "quiz.editor.answerContent" | translate }}</mat-label>
                        <input matInput formControlName="text" />
                        <mat-error *ngIf="answer.get('text')?.invalid">{{ "quiz.editor.answerContentHint" | translate }}</mat-error>
                      </mat-form-field>
                      <div class="centered">
                        <mat-slide-toggle color="primary" formControlName="isCorrect">{{ 'quiz.editor.answerIsCorrect' | translate }}</mat-slide-toggle>
                      </div>
                      <div class="centered">
                        <mat-icon class="dummy-link foreground" matTooltip="{{ 'quiz.editor.deleteAnswer' | translate }}"
                          (click)="deleteAnswer(j, question, answer)">close</mat-icon>
                      </div>
                    </div>
                  </form>
                </ng-container>

                <button mat-stroked-button (click)="addAnswer(getFormArray(question.get('answers')))">{{ 'quiz.editor.addAnswer' | translate }}</button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card>
      </ng-container>
    </div>

    <button mat-stroked-button (click)="addQuestion()">{{ 'quiz.editor.addQuestion' | translate }}</button>

    <div class="footer">
      <mat-divider></mat-divider>

      <button mat-raised-button color="primary" (click)="saveChanges()">{{ "quiz.editor.saveChanges" | translate }}</button>
      <button mat-stroked-button (click)="cancelEdit()">{{ "quiz.editor.cancelEdit" | translate }}</button>
    </div>
  </form>
</ng-container>
